  <section class="wrapper">
          	<h3><i class="fa"></i>Projects</h3> 
			          <div class="row mt">
                          <div class="col-md-12">
                              <div class="content-panel">
                                  <div class=" add-task-row">
                                                  <button class="btn btn-primary btn-sm pull-right custom-button" ng-click="newProject()" data-toggle="collapse" data-target="#collapsenow">+ Proiect nou/New project</button>
                                              </div>
                                  <div class="task-title custom-section" id="collapsenow" collapse="isCollapsed">
                                              <span class="task-title-sp">
                                                  <label class="col-sm-2 col-sm-2 control-label">Denumire ONG/NGO name</label>
                                                      <div class="col-sm-3">
                                                          <input type="text" class="form-control collapsed-input" ng-model="newProject.ngoName">
                                                      </div>
                                                      <label class="col-sm-2 col-sm-2 control-label">Denumire proiect/Project name</label>
                                                      <div class="col-sm-3">
                                                          <input type="text" class="form-control collapsed-input" ng-model="newProject.name">
                                                      </div>
                                                      </span>
                                             <div class="pull-right hidden-phone">
                                              <div class="add-task-row">
                                                  <button class="btn btn-success btn-sm pull-left custom-button" ng-click="addProject()">Add project</button>
                                                  <button class="btn btn-danger btn-sm pull-left custom-button" ng-click="cancel()" data-toggle="collapse" data-target="#collapsenow">Cancel</button>
                                              </div>
                                             </div>
                                          </div>
                                  <div class="custom-section" id="collapseme" collapse="isCollapsed">
                                            		<div>
                                                        <span class="task-title-sp">
                                                            <label class="col-sm-2 col-sm-2 control-label">Denumire ONG/NGO name</label>
                                                              <div class="col-sm-3">
                                                                  <input type="text" class="form-control collapsed-input" ng-model="project.ngoName">
                                                              </div>
                                                              <label class="col-sm-2 col-sm-2 control-label">Project</label>
                                                              <div class="col-sm-3">
                                                                  <input type="text" class="form-control collapsed-input" ng-model="project.name">
                                                              </div>
                                                      </span>                                                    
                                                          <div class="pull-right hidden-phone collapsed-input">
                                                              <button class="btn btn-success btn-sm custom-button" ng-click="saveProject()">Salvează/Save</button>
                                                              <button class="btn btn-danger btn-sm custom-button" ng-click="cancel()" data-toggle="collapse" data-target="#collapseme">Cancel</i></button>
                                                          </div>
                                                      
                                                    </div> 
                                            </div>
                                  <table class="table table-striped table-advance table-hover">
                                      <thead>
                                          <tr>
                                              <th>Denumire ONG/NGO name</th>
                                              <th>Proiect/Project</th>
                                              <th>Edit</th>
                                              <th>Delete</th>
                                          </tr>
                                      </thead>
                                      <tbody>
                                          <tr ng-repeat="project in projects | orderBy:'ngoName'">
                                              <td>{{project.ngoName}}</td>
                                              <td>{{project.name}}</td>
                                              <td>
                                                  <button class="btn btn-primary btn-xs" ng-click="editProject(project._id)" data-toggle="collapse" data-target="#collapseme"><i class="fa fa-pencil"></i></button>
                                               </td>
                                               <td>   
                                                  <button class="btn btn-danger btn-xs" ng-click="removeProject(project._id)"><i class="fa fa-trash-o "></i></button>
                                              </td>     
                                              </tr>                                                                                 
                                      </tbody>
                                  </table>
                              </div>
                          </div>
			          </div>
                                          
 </section>